@tailwind base;
@tailwind components;
@tailwind utilities;

/* body{
  margin: 0 auto;
  width: 1280px;
} */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Be Vietnam Pro", sans-serif;
  background-color: #120a0a; /* background-dark */
}

/* ================= SCROLLBAR HIDE ================= */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

/* ================= GLASS EFFECT ================= */
.glass-nav {
  backdrop-filter: blur(16px);
  -webkit-backdrop-filter: blur(16px);
  background: rgba(18, 10, 10, 0.75); /* Tăng độ đậm một chút để dễ đọc text */
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

/* ================= CUSTOM TAILWIND UTILITIES ================= */
@layer utilities {
  .container-app {
    @apply max-w-[1280px] mx-auto px-6;
  }

  .text-gradient {
    @apply bg-gradient-to-r from-red-500 to-pink-500 bg-clip-text text-transparent;
  }
}

.custom-notification .ant-notification-notice-message {
  margin-bottom: 4px !important;
}

.custom-notification .ant-notification-notice-close {
  top: 12px !important;
  right: 12px !important;
}

/* Hiệu ứng trượt nhẹ */
.ant-notification-notice-pure-panel {
  background: transparent !important;
}

.custom-datepicker-popup
  .ant-picker-cell:not(.ant-picker-cell-disabled)
  .ant-picker-cell-inner {
  background-color: #4190ff !important;
  color: #ffffff !important;
}
.ant-table-expanded-row {
  animation: slideIn 0.3s ease-out;
}

@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Thêm hiệu ứng hover cho hàng để người dùng biết có thể click */
.ant-table-row {
  cursor: pointer;
  transition: background-color 0.2s ease;
}

@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translateY(-30px); /* Bắt đầu từ trên cao 30px */
  }
  to {
    opacity: 1;
    transform: translateY(0); /* Kết thúc tại vị trí gốc */
  }
}

.slide-down-fade {
  animation: fadeInDown 1s ease-out forwards;
}

/* .hide-scrollbar::-webkit-scrollbar {
  display: none;
}
.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

@keyframes slideUp {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.animate-slide-down {
  animation: slideUp 0.4s ease-out forwards;
} */
