/* Slide in left */
.slide-left {
  animation: slideLeftIn 0.9s ease-out forwards;
  /* animation-delay: 0.1s; */
}

/* Slide in right */
.slide-right {
  animation: slideRightIn 0.9s ease-out forwards;
}

/* Keyframes */
@keyframes slideLeftIn {
  from {
    opacity: 0;
    transform: translateX(-80px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slideRightIn {
  from {
    opacity: 0;
    transform: translateX(80px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
